:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    /* background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body,
html {
    height: 100%;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: #000;
}

#app {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#globe-container {
    height: 100%;
}

#stuff-container {
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    padding: 3em;
}

.w-50 {
    width: 50%;
}

.button-like-link {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    display: inline-block;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    background-color: green;
    border-radius: 5em;
}
.button-like-link:hover {
    text-decoration: underline;
    color: crimson;
}

.upper-hero-text {
    font-family: "Exo 2", sans-serif;
    text-transform: uppercase;
    font-size: 4em;
    line-height: 1em;
}

.hero-text {
    font-size: 1.5em;
}

.hero {
    max-width: 600px;
}
/* * {
    outline: 1px solid #f00 !important;
} */
